.container {
    color: rgb(179, 198, 212);
    justify-content: center;
    align-items: center;
    margin: 4rem;
    h1 {
        font-size: 5rem;
        text-decoration: underline;
        margin-bottom: 1rem;
    }
    p {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        span {
            font-weight: bold;
            color: rgb(212, 220, 224);
        }
        
        a {
            color: rgb(179, 198, 212);
            font-weight: bold;
            text-decoration: underline;
            transition: .4s;

            i {
                margin-right: .25rem;
            }
        }

        a:hover {
            color: rgb(239, 243, 245);
        }
    }
}

@media only screen and (max-width: 970px) {
	.container {
		h1 {
			font-size: 3.5rem;
			margin-bottom: .5rem;
		}
		p {
			font-size: 1.5rem;
			margin-top: .75rem;
			margin-bottom: .75rem;
		}
	}
}

@media only screen and (max-width: 600px) {
	.container {
		margin: 2rem;

		h1 {
			font-size: 2.5rem;
			margin-bottom: .5rem;
		}
		p {
			font-size: 1.25rem;
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}
}

@media only screen and (max-width: 384px) {
	.container {
		margin: 1rem;

		h1 {
			font-size: 2rem;
			margin-bottom: .5rem;
		}
		p {
			font-size: 1rem;
		}
	}
}
