<div class="container">
    <h1>About me</h1>
    <p>Hey! I'm Matt, a developer with <span>intermediate knowledge</span> in programming, currently based in the EU.</p>
    <p>At the moment I mainly work with <span>Go</span>, but I also use Haskell, Angular, Linux (etc.) on a regular basis.</p>
    <p>Apart from development I enjoy playing the guitar, building custom keyboards and listening to <span>jazz and rock music</span>.</p>
    <p>I usually program with either <a href="https://github.com/mattishere/nvim" target="_blank">Neovim</a> or Visual Studio Code (I use it mainly for web development and Markdown), both on an Arch Linux install.</p>
    <p>That's about it! Thank you for checking out my website! If you wish to come in contact with me, <a routerLink="/contact">here</a> is where you'll find ways to do so.</p>
</div>
