<div class="container">
	<img src="../../../assets/logo.png" alt="logo">
	<div class="text">
		<h1>MattHere</h1>
		<h2>An intermediate Go, Haskell and Angular developer from the EU.</h2>
		<ul>
			<li><a routerLink="projects"><i class="fa-solid fa-briefcase"></i>my work</a></li>
			<li><a routerLink="contact"><i class="fa-solid fa-message"></i>let's talk business</a></li>
			<li><a href="https://github.com/mattishere" target="_blank"><i class="fa-brands fa-github"></i>@mattishere</a></li>
			<li><a href="https://www.fiverr.com/mattdoesdev" target="_blank"><i class="fa-solid fa-comments-dollar"></i>Fiverr</a>
		</ul>
	</div>
</div>
